datos_Spins_Prueba.csv
Trajectories_3_tau100_nspins10_T10_J1.0.csv
Trajectories_3_tau100_nspins10_T10_J1.0.csv
Trajectories_3_tau_100_nspins_10_T_10_J_1.0.csv
Works_labels_3_tau_100_nspins_10_T_10_J_1.0.csv
datosModelo.csv
Trajectories_3_tau_500_nspins_10_T_10_J_1.0.csv
Trajectories_12000_tau_500_nspins_10_T_10_J_1.0.csv
Works_labels_3_tau_500_nspins_10_T_10_J_1.0.csv
Works_labels_12000_tau_500_nspins_10_T_10_J_1.0.csv
.gitignore
Works_labels_12000_tau_500_nspins_10_T_50_J_1.0.csv
Trajectories_12000_tau_500_nspins_10_T_50_J_1.0.csv
Trajectories_12000_tau_500_nspins_10_T_30_J_1.0.csv
Works_labels_12000_tau_500_nspins_10_T_30_J_1.0.csv
Figures/Trajectory_backward_tau_500_nspins_10_T_10_J_1.png
Figures/Trajectory_backward_tau_500_nspins_10_T_30_J_1.png
Figures/Trajectory_backward_tau_500_nspins_10_T_50_J_1.png
Figures/Trajectory_forward_tau_500_nspins_10_T_10_J_1.png
Figures/Trajectory_forward_tau_500_nspins_10_T_30_J_1.png
Figures/Trajectory_forward_tau_500_nspins_10_T_50_J_1.png
Trajectories_12_tau_500_nspins_10_T_1_J_1.0.csv
Trajectories_12000_tau_500_nspins_10_T_1_J_1.0.csv
Works_labels_12_tau_500_nspins_10_T_1_J_1.0.csv
Works_labels_12000_tau_500_nspins_10_T_1_J_1.0.csv
Figures/Trajectory_backward_tau_500_nspins_10_T_1_J_1.png
Figures/Trajectory_forward_tau_500_nspins_10_T_1_J_1.png
Figures/Works_density_tau_500_nspins_10_T_1_J_1.png
Figures/Works_density_tau_500_nspins_10_T_10_J_1.png
Figures/Works_density_tau_500_nspins_10_T_30_J_1.png
Figures/Works_density_tau_500_nspins_10_T_50_J_1.png
